<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  @vite('resources/css/app.css')
  <title>SHURL--Un site web, deux atouts : lien raccourci + QR Code.</title>
</head>

<body>
  <header>
    <nav>

      <a href="/" class="logo">SHURL</a>
      <ul class="nav-links">
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">À propos</a></li>
      </ul>

    </nav>
  </header>
  <main>
    <div>
      <h1>Bienvenue chez URL Shorterner, où vos liens sont raccourcis! (Bonus : un QR code avec)</h1>


        </section>
      </div>

  </main>
  <footer>
    <p>&copy;2025 SHURL. Tous droits réservés.</p>
    <div>
      <ul class="footer-links">
        <li><a href="/">GitHub</a></li>
        <li><a href="/about">LinkedIn</a></li>
        <li><a href="/about">Mon Portfolio</a></li>
      </ul>
    </div>

  </footer>
</body>

</html>
