@layout.app({ title: "SHURL--Un site web, deux atouts : lien raccourci + QR Code." })
<header>
  <nav>
    <a href="/" class="logo">SHURL</a>
    <div>
      <ul class="nav-links">
        <!-- <li><a href="/return">Raccourcis</a></li> -->
        {{-- TODO: Ajouter le lien vers la page "Raccourcis" --}}
        <li>
          <a href="/about">Accueil</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>

</main>
@component('components/footer')
@endcomponent
