@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}
body{

    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 93);
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: medium;
    
}
.div-section{
    display: flex;
    justify-content: center;
    align-items: center; 
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px; 
    background-color: rgb(217, 233, 247);
    width: 50vw;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(189, 199, 237, 0.5);
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: rgb(217, 233, 247);
    width: 50vw;
    height: 30vh;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(189, 199, 237, 0.5);
    
}
label{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}
input{
    border: 2px solid rgba(168, 181, 231, 0.5);
    border-radius: 5px;
    width: 70%;
    margin: 10px;
    padding: 10px;
    outline: none;
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.buttonContainer button{
    border: 2px solid rgb(126, 126, 196);
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(174, 183, 219, 0.5);
}
.resultContainer p{
    font-weight: 500;
    font-style: italic;
    color:rgba(14, 49, 189, 0.5);
}

.qr_code{
    width: fit-content;
    height: fit-content; 
}
